swagger: '2.0'
info:
  title: DriveBook Voice Service API
  description: |
    API for AI voice agent to interact with DriveBook platform for booking driving lessons.
    
    RECOMMENDED AI CONVERSATION FLOW (OPTIMIZED):
    1. Ask user for pickup location
    2. Ask vehicle preference: "Do you prefer an automatic or manual car?" (improves recommendation accuracy)
    3. Validate location via /locations/validate
    4. While fetching recommendations, say: "Checking who's available near [Location] for you now..." (masks API latency)
    5. Get smart recommendations via /instructors/recommendations (AI-ranked, top 3)
    6. Present options: "I found 3 great instructors: Debesay (top rated), Michael (best value), Sarah (closest)"
    7. If user doesn't like top 3, fallback to /instructors/search for full list
    8. User selects instructor
    9. Call /availability/slots to check times
    10. Call /packages to present package options with savings
    11. Create booking via /public/bookings/bulk (backend calculates pricing, generates password)
    
    KEY IMPROVEMENTS:
    - AI does NOT ask for password (backend generates secure password automatically)
    - Smart recommendations with reasons (top rated, best value, closest, etc.)
    - Location validation prevents bad addresses
    - Backend handles all pricing calculations
    - Intelligent ranking algorithm (rating 40%, distance 25%, price 20%, experience 15%)
  version: 2.0.0
  contact:
    name: DriveBook Support
host: drivebook.com.au
basePath: /api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

paths:
  /health:
    get:
      summary: Health check endpoint
      description: Check if the service is running and database is connected
      operationId: healthCheck
      tags:
        - System
      responses:
        '200':
          description: Service is healthy
          schema:
            type: object
            properties:
              status:
                type: string
                example: ok
              database:
                type: string
                example: connected

  /instructors/recommendations:
    get:
      summary: Get smart instructor recommendations (AI-POWERED)
      description: |
        Returns top 3 instructors ranked by intelligent scoring algorithm based on location.
        Each instructor includes a reason (Top rated, Best value, Closest) to help AI explain choices naturally.
        Scoring considers: rating (40%), distance (25%), price (20%), experience (15%).
        This is the PRIMARY endpoint for AI when user doesn't specify an instructor preference.
        Returns instructors who actually serve the requested location (within their service radius).
        
        AI BEST PRACTICES:
        - Ask for vehicle preference (AUTO/MANUAL) BEFORE calling this endpoint for better accuracy
        - While waiting for response, say: "Checking who's available near [Location] for you now..."
        - If user doesn't like top 3, fallback to /instructors/search for full list
        - Present with reasons: "I found 3 great instructors: [Name] is top rated, [Name] offers best value, [Name] is closest to you"
      operationId: getInstructorRecommendations
      tags:
        - Instructors
      parameters:
        - name: location
          in: query
          type: string
          required: true
          description: Pickup location
          example: "Joondalup WA"
        - name: vehicleType
          in: query
          type: string
          required: false
          description: Preferred vehicle type
          enum: [AUTO, MANUAL]
        - name: language
          in: query
          type: string
          required: false
          description: Preferred language
          example: "English"
        - name: budget
          in: query
          type: number
          required: false
          description: Maximum hourly rate
          example: 75
        - name: experienceLevel
          in: query
          type: string
          required: false
          enum: [beginner, intermediate, advanced]
        - name: limit
          in: query
          type: integer
          required: false
          description: Number of recommendations to return
          default: 3
          example: 3
      responses:
        '200':
          description: Recommended instructors with reasons
          schema:
            type: object
            properties:
              recommendations:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    hourlyRate:
                      type: number
                    distance:
                      type: number
                    rating:
                      type: number
                    reviews:
                      type: integer
                    totalBookings:
                      type: integer
                    vehicleTypes:
                      type: array
                      items:
                        type: string
                    languages:
                      type: array
                      items:
                        type: string
                    car:
                      type: string
                      example: "Toyota Corolla 2020"
                    score:
                      type: integer
                      description: Recommendation score (0-100)
                    reason:
                      type: string
                      description: Why this instructor is recommended
                      example: "Top rated instructor near you"
                    badges:
                      type: array
                      items:
                        type: string
                      example: ["Featured", "Top Rated", "Nearby"]
              count:
                type: integer
              message:
                type: string
              searchLocation:
                type: object

  /instructors/search:
    get:
      summary: Search instructors by location (FALLBACK)
      description: |
        Find all instructors who serve a specific location, sorted by distance and rating.
        Returns complete list (not limited to 3). Use /instructors/recommendations instead for AI conversations.
        This endpoint is better for web UI where users want to browse all options.
        
        AI USAGE - FALLBACK ONLY:
        Use this endpoint when user says "None of those work for me" or "Show me more options" after seeing top 3 recommendations.
        Present as: "Let me show you all available instructors in your area..."
        Still limit verbal presentation to 5-7 instructors max to avoid overwhelming user.
      operationId: searchInstructorsByLocation
      tags:
        - Instructors
      parameters:
        - name: location
          in: query
          type: string
          required: true
          description: Pickup location - address, suburb, or postcode
          example: "Joondalup WA"
      responses:
        '200':
          description: List of instructors serving the location
          schema:
            type: object
            properties:
              instructors:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    hourlyRate:
                      type: number
                    distance:
                      type: number
                      description: Distance in kilometers
                    rating:
                      type: number
                      description: Average rating (0-5)
                    reviews:
                      type: integer
                    totalBookings:
                      type: integer
                    bio:
                      type: string
                    vehicleTypes:
                      type: array
                      items:
                        type: string
                      description: AUTO, MANUAL
                    languages:
                      type: array
                      items:
                        type: string
                    profileImage:
                      type: string
                    carMake:
                      type: string
                    carModel:
                      type: string
                    carYear:
                      type: integer
              count:
                type: integer
              searchLocation:
                type: object
                properties:
                  displayName:
                    type: string
        '404':
          description: No instructors serve that area
          schema:
            type: object
            properties:
              error:
                type: string

  /public/instructors:
    get:
      summary: Get all approved instructors
      description: Returns all active instructors. Use /instructors/search for location-based search.
      operationId: getAllInstructors
      tags:
        - Instructors
      responses:
        '200':
          description: List of all instructors
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                hourlyRate:
                  type: number
                rating:
                  type: number
                reviews:
                  type: integer
                vehicleTypes:
                  type: array
                  items:
                    type: string
                languages:
                  type: array
                  items:
                    type: string

  /locations/validate:
    post:
      summary: Validate and geocode pickup location (CALL FIRST)
      description: |
        Validates a pickup location address and returns geocoded coordinates with formatted address.
        CRITICAL: Use this BEFORE calling instructor recommendations to ensure location is valid.
        Prevents bad addresses during voice calls by providing helpful suggestions if location not found.
        Returns suburb, state, and postcode components for Australian addresses.
        
        AI BEST PRACTICES:
        - ALWAYS call this first before searching for instructors
        - If valid=false, present suggestions to user: "I couldn't find that exact address. Did you mean [suggestion]?"
        - Use formattedAddress in all subsequent calls and confirmations
        - While validating, say: "Let me confirm that location..."
      operationId: validateLocation
      tags:
        - Locations
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - pickupLocation
            properties:
              pickupLocation:
                type: string
                description: Address, suburb, or postcode to validate
                example: "123 Main St, Joondalup WA"
      responses:
        '200':
          description: Location validation result
          schema:
            type: object
            properties:
              valid:
                type: boolean
              formattedAddress:
                type: string
                example: "123 Main St, Joondalup WA 6027"
              lat:
                type: number
              lng:
                type: number
              components:
                type: object
                properties:
                  suburb:
                    type: string
                  state:
                    type: string
                  postcode:
                    type: string
              error:
                type: string
                description: Present if valid is false
              suggestions:
                type: array
                items:
                  type: string
                description: Suggestions if location not found

  /packages:
    get:
      summary: Get lesson packages with pricing and savings
      description: |
        Returns available lesson packages (6hr, 10hr, 15hr) with calculated pricing, discounts, and savings for a specific instructor.
        Each package shows original price, discounted price, savings amount, and discount percentage.
        The 10-hour package has badge: "Most Popular" - AI should mention this naturally: "Most students choose the 10-hour package - it saves you $75".
        Also includes test package option ($150) that can be added to any package.
        Use this to present package options with natural upsell, not as a list of all options.
        
        AI BEST PRACTICES:
        - Lead with the most popular: "I recommend the 10-hour package - it's our most popular and saves you $75. Would that work for you?"
        - If user hesitant, mention alternatives: "We also have a 6-hour package if you'd like to start smaller, or 15-hour for maximum savings"
        - Emphasize savings in dollars, not percentages: "$75 savings" not "10% off"
        - While fetching, say: "Let me check the package options for [Instructor Name]..."
      operationId: getPackages
      tags:
        - Packages
      parameters:
        - name: instructorId
          in: query
          type: string
          required: true
          description: Instructor ID to get their specific pricing
      responses:
        '200':
          description: Available packages
          schema:
            type: object
            properties:
              packages:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [PACKAGE_6, PACKAGE_10, PACKAGE_15, CUSTOM]
                    hours:
                      type: integer
                    price:
                      type: number
                      description: Total price after discount
                    originalPrice:
                      type: number
                    discount:
                      type: number
                      description: Discount amount
                    discountPercentage:
                      type: integer
                      description: Discount percentage (5, 10, 12)
                    savings:
                      type: number
                      description: Amount saved
                    badge:
                      type: string
                      description: Badge label like "Most Popular" for the 10-hour package
                      example: "Most Popular"
              testPackage:
                type: object
                properties:
                  available:
                    type: boolean
                  price:
                    type: number
                    example: 150
                  includes:
                    type: string
                    example: "1-hour pre-test lesson, car rental, test day support"

  /availability/slots:
    get:
      summary: Get available time slots for booking
      description: |
        Returns available time slots for an instructor on a specific date and duration.
        Slots marked as available=true are free to book. Slots marked as available=false are already booked.
        AI should present available slots naturally: "I have 9am, 11am, and 2pm available on Monday".
        Duration must be 60, 90, or 120 minutes.
      operationId: getAvailableSlots
      tags:
        - Availability
      parameters:
        - name: instructorId
          in: query
          type: string
          required: true
        - name: date
          in: query
          type: string
          required: true
          description: Date in YYYY-MM-DD format
          example: "2026-03-25"
        - name: duration
          in: query
          type: integer
          required: true
          description: Lesson duration in minutes (60, 90, or 120)
          example: 60
      responses:
        '200':
          description: Available slots
          schema:
            type: object
            properties:
              slots:
                type: array
                items:
                  type: object
                  properties:
                    time:
                      type: string
                      example: "09:00"
                    available:
                      type: boolean
              date:
                type: string
              duration:
                type: integer

  /public/bookings/bulk:
    post:
      summary: Create booking with package (PENDING_PAYMENT status)
      description: |
        Creates a new booking with PENDING_PAYMENT status. Booking expires in 10 minutes if payment not completed.
        Backend auto-generates password if not provided and will send via SMS/email.
        Backend calculates all pricing - AI should NOT send pricing fields.
        Returns bookingId and Stripe Checkout URL. AI should tell user: "I'm holding your time slot for 10 minutes while you complete payment".
        After payment confirmed via webhook, booking status changes to CONFIRMED and notifications are sent.
        AI sends: instructorId, packageType, hours, bookingType, schedule, account details (name, email, phone).
        
        BOOKING STATUS FLOW:
        1. Booking created → status: PENDING_PAYMENT, expiresAt: now + 10 minutes
        2. Payment completed → status: CONFIRMED, expiresAt: null
        3. Payment not completed → status: EXPIRED (auto-updated by cron job)
        
        TIME SLOT HOLD:
        - Slot is reserved while booking status is PENDING_PAYMENT or CONFIRMED
        - Expired bookings release the slot automatically
        - No separate reservation table needed
      operationId: createBooking
      tags:
        - Bookings
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - instructorId
              - packageType
              - bookingType
              - registrationType
              - accountHolderName
              - accountHolderEmail
              - accountHolderPhone
            properties:
              instructorId:
                type: string
                description: Instructor ID from search results
              packageType:
                type: string
                enum: [PACKAGE_6, PACKAGE_10, PACKAGE_15, CUSTOM]
              hours:
                type: number
                description: Required only for CUSTOM package
              includeTestPackage:
                type: boolean
                default: false
              bookingType:
                type: string
                enum: [now, later]
                description: Schedule now or buy credits for later
              registrationType:
                type: string
                enum: [myself, someone-else]
              accountHolderName:
                type: string
              accountHolderEmail:
                type: string
              accountHolderPhone:
                type: string
                description: Phone number - password will be auto-generated and sent via SMS/email
              learnerName:
                type: string
                description: Required if registrationType is someone-else
              learnerPhone:
                type: string
              learnerRelationship:
                type: string
                enum: [child, partner, grandchild, parent, friend, other]
              scheduledBookings:
                type: array
                description: Required if bookingType is now
                items:
                  type: object
                  required:
                    - date
                    - time
                    - duration
                    - pickupLocation
                  properties:
                    date:
                      type: string
                      example: "2026-03-25"
                    time:
                      type: string
                      example: "09:00"
                    duration:
                      type: integer
                      example: 60
                    pickupLocation:
                      type: string
                      example: "123 Main St, Joondalup WA 6027"
                    notes:
                      type: string
      responses:
        '200':
          description: Booking created successfully with PENDING_PAYMENT status
          schema:
            type: object
            properties:
              success:
                type: boolean
              bookingId:
                type: string
                description: Booking ID for tracking
              status:
                type: string
                example: "PENDING_PAYMENT"
              checkoutUrl:
                type: string
                description: Stripe Checkout Session URL to complete payment
              expiresAt:
                type: string
                format: date-time
                description: When the booking will expire if not paid (10 minutes from creation)
              total:
                type: number
                description: Total amount to be charged (calculated by backend)
        '400':
          description: Invalid booking data
          schema:
            type: object
            properties:
              error:
                type: string

  /bookings/lookup:
    get:
      summary: Find bookings by phone number
      description: |
        Returns all active bookings (PENDING_PAYMENT or CONFIRMED) for a phone number.
        Only returns future bookings. Useful for rescheduling or cancellation flows.
        AI can use this when user says "I need to change my lesson" or "Cancel my booking".
      operationId: lookupBookings
      tags:
        - Bookings
      parameters:
        - name: phone
          in: query
          type: string
          required: true
          description: Client phone number
          example: "0400123456"
      responses:
        '200':
          description: Bookings found
          schema:
            type: object
            properties:
              bookings:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    status:
                      type: string
                      enum: [PENDING_PAYMENT, CONFIRMED]
                    startTime:
                      type: string
                      format: date-time
                    duration:
                      type: number
                    pickupLocation:
                      type: string
                    instructor:
                      type: object
                      properties:
                        name:
                          type: string
                        phone:
                          type: string
                    expiresAt:
                      type: string
                      format: date-time
                      description: Present only if status is PENDING_PAYMENT
        '400':
          description: Phone parameter missing

  /bookings/{bookingId}/cancellation-policy:
    get:
      summary: Check cancellation eligibility and fees
      description: |
        Returns cancellation policy for a specific booking based on time remaining.
        AI should call this BEFORE cancelling to inform user of any fees.
        
        POLICY RULES (from docs/04-legal/CANCELLATION_POLICY.md):
        - 48+ hours before: 100% refund, no fee
        - 24-48 hours before: 50% refund, 50% fee
        - Less than 24 hours: No refund, 100% fee (lesson counted as used)
        
        EXCEPTIONS (override normal rules):
        - Instructor cancellation: 100% refund always
        - Weather/safety: 100% refund always
        - Platform issue: 100% refund always
        
        AI USAGE: "Let me check the cancellation policy for your booking..."
      operationId: getCancellationPolicy
      tags:
        - Bookings
      parameters:
        - name: bookingId
          in: path
          type: string
          required: true
          description: Booking ID
      responses:
        '200':
          description: Cancellation policy details
          schema:
            type: object
            properties:
              bookingId:
                type: string
              hoursBeforeLesson:
                type: number
                description: Hours remaining until lesson starts
              policy:
                type: object
                properties:
                  allowed:
                    type: boolean
                    description: Whether cancellation is allowed
                  refundPercentage:
                    type: number
                    description: Percentage of refund (0, 50, or 100)
                  cancellationFee:
                    type: number
                    description: Percentage kept as fee (0, 50, or 100)
                  refundAmount:
                    type: number
                    description: Dollar amount to be refunded
                  feeAmount:
                    type: number
                    description: Dollar amount kept as fee
                  reason:
                    type: string
                    enum: [more_than_48_hours, between_24_and_48_hours, less_than_24_hours]
              message:
                type: string
                example: "Cancellation allowed with 50% fee"
        '404':
          description: Booking not found

  /bookings/{bookingId}/cancel:
    post:
      summary: Cancel a booking
      description: |
        Cancels a booking and processes refund according to cancellation policy.
        AI should call /cancellation-policy first to inform user of fees.
        
        CONVERSATION FLOW:
        1. AI: "Let me check the cancellation policy..." (call /cancellation-policy)
        2. AI: "Your lesson is X hours away. Cancelling will result in Y% refund. Shall I proceed?"
        3. User confirms
        4. AI: "Cancelling now..." (call this endpoint)
        5. AI: "Done! You'll receive $X refund within 5-7 business days."
        
        REFUND PROCESSING:
        - Refund goes to wallet balance immediately
        - Can be used for future bookings or withdrawn
        - Original payment method refund takes 5-7 business days
      operationId: cancelBooking
      tags:
        - Bookings
      parameters:
        - name: bookingId
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - reason
            properties:
              reason:
                type: string
                enum: [student_request, weather, safety, medical, other]
                description: Reason for cancellation
              notes:
                type: string
                description: Additional notes (optional)
      responses:
        '200':
          description: Booking cancelled successfully
          schema:
            type: object
            properties:
              success:
                type: boolean
              bookingId:
                type: string
              status:
                type: string
                example: "CANCELLED"
              refundAmount:
                type: number
                description: Amount refunded to wallet
              refundPercentage:
                type: number
              message:
                type: string
                example: "Booking cancelled. $42.50 refunded to your wallet."
        '400':
          description: Cancellation not allowed or invalid request
          schema:
            type: object
            properties:
              error:
                type: string
              policy:
                type: object
                description: Policy details explaining why cancellation failed

  /bookings/{bookingId}/reschedule:
    post:
      summary: Reschedule a booking
      description: |
        Reschedules a booking to a new date/time. Same cancellation policy applies.
        If rescheduling within 24 hours, 50% fee may apply (check policy first).
        
        AI CONVERSATION FLOW:
        1. User: "I need to reschedule my lesson"
        2. AI: "When would you like to reschedule to?"
        3. User: "Next Tuesday at 10am"
        4. AI: Validates new slot availability
        5. AI: Checks cancellation policy for current booking
        6. AI: "Rescheduling will have a 50% fee. Shall I proceed?"
        7. User confirms
        8. AI: Calls this endpoint
        
        POLICY NOTES:
        - Rescheduling >48h before: Free
        - Rescheduling 24-48h before: 50% fee
        - Rescheduling <24h before: Not allowed (must cancel and rebook)
      operationId: rescheduleBooking
      tags:
        - Bookings
      parameters:
        - name: bookingId
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - newDate
              - newTime
            properties:
              newDate:
                type: string
                format: date
                example: "2026-03-20"
              newTime:
                type: string
                example: "10:00"
              reason:
                type: string
                description: Reason for rescheduling (optional)
      responses:
        '200':
          description: Booking rescheduled successfully
          schema:
            type: object
            properties:
              success:
                type: boolean
              bookingId:
                type: string
              oldStartTime:
                type: string
                format: date-time
              newStartTime:
                type: string
                format: date-time
              feeApplied:
                type: number
                description: Fee charged for rescheduling (0, 50, or 100%)
              message:
                type: string
                example: "Lesson rescheduled successfully with no fee."
        '400':
          description: Rescheduling not allowed or slot unavailable
          schema:
            type: object
            properties:
              error:
                type: string
              availableSlots:
                type: array
                items:
                  type: string
                description: Alternative available time slots

  /instructors/lookup:
    get:
      summary: Find bookings by phone number
      description: |
        Returns all active bookings (PENDING_PAYMENT or CONFIRMED) for a phone number.
        Only returns future bookings. Useful for rescheduling or cancellation flows.
        AI can use this when user says "I need to change my lesson" or "Cancel my booking".
      operationId: lookupBookings
      tags:
        - Bookings
      parameters:
        - name: phone
          in: query
          type: string
          required: true
          description: Client phone number
          example: "0400123456"
      responses:
        '200':
          description: Bookings found
          schema:
            type: object
            properties:
              bookings:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    status:
                      type: string
                      enum: [PENDING_PAYMENT, CONFIRMED]
                    startTime:
                      type: string
                      format: date-time
                    duration:
                      type: number
                    pickupLocation:
                      type: string
                    instructor:
                      type: object
                      properties:
                        name:
                          type: string
                        phone:
                          type: string
                    expiresAt:
                      type: string
                      format: date-time
                      description: Present only if status is PENDING_PAYMENT
        '400':
          description: Phone parameter missing

  /instructors/lookup:
    get:
      summary: Find instructor by name or phone (OPTIONAL)
      description: |
        Finds an instructor by name or phone number if user has a preference.
        Use this when user says "I want to book with Debesay" or provides instructor phone.
        If not found, use /instructors/recommendations instead to suggest alternatives.
        This is OPTIONAL - most users won't know instructor name, so use recommendations by default.
      operationId: lookupInstructor
      tags:
        - Instructors
      parameters:
        - name: query
          in: query
          type: string
          required: true
          description: Instructor name or phone number
          example: "Debesay"
      responses:
        '200':
          description: Instructor found
          schema:
            type: object
            properties:
              found:
                type: boolean
              instructor:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  hourlyRate:
                    type: number
                  rating:
                    type: number
                  vehicleTypes:
                    type: array
                    items:
                      type: string
                  languages:
                    type: array
                    items:
                      type: string
        '404':
          description: Instructor not found
          schema:
            type: object
            properties:
              found:
                type: boolean
                example: false
              message:
                type: string
                example: "Instructor not found"

tags:
  - name: System
    description: System health and status
  - name: Instructors
    description: Instructor discovery and search
  - name: Locations
    description: Location validation and geocoding
  - name: Packages
    description: Lesson packages and pricing
  - name: Availability
    description: Time slot availability
  - name: Bookings
    description: Booking creation
