swagger: '2.0'
info:
  title: DriveBook Voice Service API
  description: |
    API for AI voice agent to interact with DriveBook platform for booking driving lessons.
    
    🔒 SECURITY PRINCIPLES - CRITICAL:
    
    What AI Should NEVER Do:
    ❌ Collect credit card numbers
    ❌ Store payment details
    ❌ Process payments directly
    ❌ Ask for CVV codes
    ❌ Handle sensitive financial data
    
    Why:
    - PCI DSS Compliance: Voice channels aren't secure for payment data
    - Audit Trail: Need written confirmation for financial transactions
    - Dispute Resolution: Can't prove what was said in a call
    - Fraud Prevention: Voice can be recorded/spoofed
    - User Trust: People are uncomfortable giving payment info verbally
    
    CORRECT PAYMENT FLOW:
    1. AI collects booking details (name, email, phone, date, time, location)
    2. Backend creates PENDING_PAYMENT booking via /public/bookings/bulk
    3. Backend returns Stripe Checkout URL
    4. AI sends payment link via SMS: "Click the link I just texted you to complete your booking securely"
    5. User pays on Stripe's secure page (NOT via voice)
    6. Stripe webhook confirms payment → booking status: CONFIRMED
    7. Confirmation SMS/email sent automatically
    
    BOOKING STATUS FLOW:
    ┌─────────────────┐
    │ PENDING_PAYMENT │ ← AI creates booking, sends payment link
    └────────┬────────┘
             │
    ┌────────▼────────┐
    │  User pays via  │
    │ Stripe Checkout │
    └────────┬────────┘
             │ Webhook
    ┌────────▼────────┐
    │   CONFIRMED     │ ← Webhook updates status, sends confirmation
    └────────┬────────┘
             │
    ┌────────▼────────┐
    │   COMPLETED     │ ← After lesson
    └────────┬────────┘
             │
    ┌────────▼────────┐
    │     PAID        │ ← Instructor paid
    └─────────────────┘
    
    RECOMMENDED AI CONVERSATION FLOW (OPTIMIZED):
    1. Ask user for pickup location
    2. Ask vehicle preference: "Do you prefer an automatic or manual car?" (improves recommendation accuracy)
    3. Validate location via /locations/validate
    4. While fetching recommendations, say: "Checking who's available near [Location] for you now..." (masks API latency)
    5. Get smart recommendations via /instructors/recommendations (AI-ranked, top 3)
    6. Present options: "I found 3 great instructors: Debesay (top rated), Michael (best value), Sarah (closest)"
    7. If user doesn't like top 3, fallback to /instructors/search for full list
    8. User selects instructor
    9. Call /availability/slots to check times
    10. Call /packages to present package options with savings
    11. Create booking via /public/bookings/bulk (backend calculates pricing, generates password)
    12. AI says: "I've reserved your time slot for 10 minutes. I'm sending a secure payment link to your phone now."
    13. User receives SMS with Stripe Checkout link
    14. User completes payment on Stripe (NOT via voice)
    15. Webhook confirms payment, sends confirmation
    
    KEY IMPROVEMENTS:
    - AI does NOT ask for password (backend generates secure password automatically)
    - AI does NOT handle payment (Stripe Checkout link sent via SMS)
    - Smart recommendations with reasons (top rated, best value, closest, etc.)
    - Location validation prevents bad addresses
    - Backend handles all pricing calculations
    - Intelligent ranking algorithm (rating 40%, distance 25%, price 20%, experience 15%)
    
    RATE LIMITING:
    All endpoints are rate-limited to prevent abuse. Headers returned with every response:
    - X-RateLimit-Limit: Maximum requests per window
    - X-RateLimit-Remaining: Requests remaining in window
    - X-RateLimit-Reset: Time when limit resets (Unix timestamp)
    
    When exceeded, returns 429 Too Many Requests with Retry-After header.
  version: 2.0.0
  contact:
    name: DriveBook Support
host: drivebook.com.au
basePath: /api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

paths:
  /health:
    get:
      summary: Health check endpoint
      description: Check if the service is running and database is connected
      operationId: healthCheck
      tags:
        - System
      responses:
        '200':
          description: Service is healthy
          schema:
            type: object
            properties:
              status:
                type: string
                example: ok
              database:
                type: string
                example: connected

  /instructors/recommendations:
    get:
      summary: Get smart instructor recommendations (AI-POWERED)
      description: |
        Returns top 3 instructors ranked by intelligent scoring algorithm based on location.
        Each instructor includes a reason (Top rated, Best value, Closest) to help AI explain choices naturally.
        Scoring considers: rating (40%), distance (25%), price (20%), experience (15%).
        This is the PRIMARY endpoint for AI when user doesn't specify an instructor preference.
        Returns instructors who actually serve the requested location (within their service radius).
        
        AI BEST PRACTICES:
        - Ask for vehicle preference (AUTO/MANUAL) BEFORE calling this endpoint for better accuracy
        - While waiting for response, say: "Checking who's available near [Location] for you now..."
        - If user doesn't like top 3, fallback to /instructors/search for full list
        - Present with reasons: "I found 3 great instructors: [Name] is top rated, [Name] offers best value, [Name] is closest to you"
        
        RATE LIMITING:
        - 30 requests per minute per IP address
        - 60 requests per minute per API key
      operationId: getInstructorRecommendations
      tags:
        - Instructors
      parameters:
        - name: location
          in: query
          type: string
          required: true
          description: Pickup location - "Joondalup WA" or "123 Main St, Maylands" or "6027"
        - name: vehicleType
          in: query
          type: string
          required: false
          description: Preferred vehicle type
          enum: [AUTO, MANUAL]
        - name: language
          in: query
          type: string
          required: false
          description: Preferred language (e.g., "English", "Mandarin")
        - name: budget
          in: query
          type: number
          required: false
          description: Maximum hourly rate (e.g., 75)
        - name: experienceLevel
          in: query
          type: string
          required: false
          enum: [beginner, intermediate, advanced]
        - name: limit
          in: query
          type: integer
          required: false
          description: Number of recommendations to return (default 3)
          default: 3
      responses:
        '200':
          description: Recommended instructors with reasons
          schema:
            type: object
            properties:
              recommendations:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    hourlyRate:
                      type: number
                    distance:
                      type: number
                    rating:
                      type: number
                    reviews:
                      type: integer
                    totalBookings:
                      type: integer
                    vehicleTypes:
                      type: array
                      items:
                        type: string
                    languages:
                      type: array
                      items:
                        type: string
                    car:
                      type: string
                      example: "Toyota Corolla 2020"
                    score:
                      type: integer
                      description: Recommendation score (0-100)
                    reason:
                      type: string
                      description: Why this instructor is recommended
                      example: "Top rated instructor near you"
                    badges:
                      type: array
                      items:
                        type: string
                      example: ["Featured", "Top Rated", "Nearby"]
              count:
                type: integer
              message:
                type: string
              searchLocation:
                type: object

  /instructors/search:
    get:
      summary: Search instructors by location or name
      description: |
        Find instructors by location (radius search) or by name (text match).
        Returns complete list (not limited to 3). Use /instructors/recommendations instead for AI conversations.
        
        AI USAGE:
        - FALLBACK by location: when user says "None of those work for me" or "Show me more options"
        - NAME LOOKUP: when caller asks for a specific instructor by name (e.g. "I want Debesay")
          → Call with ?name=Debesay → use instructors[0].id silently
          → Never ask the caller for an instructor ID
        
        PAGINATION:
        - Returns 20 instructors per page by default
        - Use page parameter to get more results
        
        RATE LIMITING:
        - 60 requests per minute per IP address
      operationId: searchInstructors
      tags:
        - Instructors
      parameters:
        - name: location
          in: query
          type: string
          required: false
          description: Pickup location — address, suburb, or postcode. Required if name is not provided.
        - name: name
          in: query
          type: string
          required: false
          description: |
            Instructor name (partial match). Use when caller requests a specific instructor by name.
            AI: call with ?name=Debesay → use instructors[0].id internally.
            Either location or name must be provided.
        - name: page
          in: query
          type: integer
          required: false
          default: 1
          description: Page number for pagination (default 1)
        - name: limit
          in: query
          type: integer
          required: false
          default: 20
          maximum: 50
          description: Number of results per page, max 50 (default 20)
      responses:
        '200':
          description: List of instructors serving the location
          schema:
            type: object
            properties:
              instructors:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    hourlyRate:
                      type: number
                    distance:
                      type: number
                      description: Distance in kilometers
                    rating:
                      type: number
                      description: Average rating (0-5)
                    reviews:
                      type: integer
                    totalBookings:
                      type: integer
                    bio:
                      type: string
                    vehicleTypes:
                      type: array
                      items:
                        type: string
                      description: AUTO, MANUAL
                    languages:
                      type: array
                      items:
                        type: string
                    profileImage:
                      type: string
                    carMake:
                      type: string
                    carModel:
                      type: string
                    carYear:
                      type: integer
              count:
                type: integer
                description: Total number of instructors found
              page:
                type: integer
                description: Current page number
              totalPages:
                type: integer
                description: Total number of pages
              hasMore:
                type: boolean
                description: Whether there are more results available
              searchLocation:
                type: object
                properties:
                  displayName:
                    type: string
        '404':
          description: No instructors serve that area
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: string
                example: "NO_INSTRUCTORS_FOUND"
              suggestions:
                type: array
                items:
                  type: string
                description: Nearby areas that have instructors

  /public/instructors:
    get:
      summary: Get all approved instructors
      description: Returns all active instructors. Use /instructors/search for location-based search.
      operationId: getAllInstructors
      tags:
        - Instructors
      responses:
        '200':
          description: List of all instructors
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                hourlyRate:
                  type: number
                rating:
                  type: number
                reviews:
                  type: integer
                vehicleTypes:
                  type: array
                  items:
                    type: string
                languages:
                  type: array
                  items:
                    type: string

  /locations/validate:
    post:
      summary: Validate and geocode pickup location (CALL FIRST)
      description: |
        Validates a pickup location address and returns geocoded coordinates with formatted address.
        CRITICAL: Use this BEFORE calling instructor recommendations to ensure location is valid.
        Prevents bad addresses during voice calls by providing helpful suggestions if location not found.
        Returns suburb, state, and postcode components for Australian addresses.
        
        AI BEST PRACTICES:
        - ALWAYS call this first before searching for instructors
        - If valid=false, present suggestions to user: "I couldn't find that exact address. Did you mean [suggestion]?"
        - Use formattedAddress in all subsequent calls and confirmations
        - While validating, say: "Let me confirm that location..."
        
        RATE LIMITING:
        - 20 requests per minute per IP address
        - 40 requests per minute per API key
        - Error: "Location validation limit reached. Please wait."
      operationId: validateLocation
      tags:
        - Locations
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - pickupLocation
            properties:
              pickupLocation:
                type: string
                description: Address, suburb, or postcode to validate
                example: "123 Main St, Joondalup WA"
      responses:
        '200':
          description: Location validation result
          schema:
            type: object
            properties:
              valid:
                type: boolean
              formattedAddress:
                type: string
                example: "123 Main St, Joondalup WA 6027"
              lat:
                type: number
              lng:
                type: number
              components:
                type: object
                properties:
                  suburb:
                    type: string
                  state:
                    type: string
                  postcode:
                    type: string
              error:
                type: string
                description: Present if valid is false
              suggestions:
                type: array
                items:
                  type: string
                description: Suggestions if location not found

  /packages:
    get:
      summary: Get lesson packages with pricing and savings
      description: |
        Returns available lesson packages (6hr, 10hr, 15hr) with calculated pricing, discounts, and savings for a specific instructor.
        Each package shows original price, discounted price, savings amount, and discount percentage.
        The 10-hour package has badge: "Most Popular" - AI should mention this naturally: "Most students choose the 10-hour package - it saves you $75".
        Also includes test package option ($150) that can be added to any package.
        Use this to present package options with natural upsell, not as a list of all options.
        
        AI BEST PRACTICES:
        - Lead with the most popular: "I recommend the 10-hour package - it's our most popular and saves you $75. Would that work for you?"
        - If user hesitant, mention alternatives: "We also have a 6-hour package if you'd like to start smaller, or 15-hour for maximum savings"
        - Emphasize savings in dollars, not percentages: "$75 savings" not "10% off"
        - While fetching, say: "Let me check the package options for [Instructor Name]..."
        
        RATE LIMITING:
        - 30 requests per minute per IP address
        - 60 requests per minute per API key
      operationId: getPackages
      tags:
        - Packages
      parameters:
        - name: instructorId
          in: query
          type: string
          required: true
          description: Instructor ID to get their specific pricing
      responses:
        '200':
          description: Available packages
          schema:
            type: object
            properties:
              packages:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [PACKAGE_6, PACKAGE_10, PACKAGE_15, CUSTOM]
                    hours:
                      type: integer
                    price:
                      type: number
                      description: Total price after discount
                    originalPrice:
                      type: number
                    discount:
                      type: number
                      description: Discount amount
                    discountPercentage:
                      type: integer
                      description: Discount percentage (5, 10, 12)
                    savings:
                      type: number
                      description: Amount saved
                    badge:
                      type: string
                      description: Badge label like "Most Popular" for the 10-hour package
                      example: "Most Popular"
              testPackage:
                type: object
                properties:
                  available:
                    type: boolean
                  price:
                    type: number
                    example: 150
                  includes:
                    type: string
                    example: "1-hour pre-test lesson, car rental, test day support"

  /availability/slots:
    get:
      summary: Get available time slots for booking
      description: |
        Returns available time slots for an instructor on a specific date and duration.
        Slots marked as available=true are free to book. Slots marked as available=false are already booked.
        AI should present available slots naturally: "I have 9am, 11am, and 2pm available on Monday".
        Duration must be 60, 90, or 120 minutes.
        
        RATE LIMITING:
        - 30 requests per minute per IP address
        - 60 requests per minute per API key
      operationId: getAvailableSlots
      tags:
        - Availability
      parameters:
        - name: instructorId
          in: query
          type: string
          required: true
        - name: date
          in: query
          type: string
          required: true
          description: Date in YYYY-MM-DD format (e.g., "2026-03-25")
        - name: duration
          in: query
          type: integer
          required: true
          description: Lesson duration in minutes - 60, 90, or 120 (e.g., 60)
      responses:
        '200':
          description: Available slots
          schema:
            type: object
            properties:
              slots:
                type: array
                items:
                  type: object
                  properties:
                    time:
                      type: string
                      example: "09:00"
                    available:
                      type: boolean
              date:
                type: string
              duration:
                type: integer

  /public/bookings/bulk:
    post:
      summary: Create booking with package (PENDING_PAYMENT status)
      description: |
        Creates a new booking with PENDING_PAYMENT status. Booking expires in 10 minutes if payment not completed.
        
        PASSWORD: Auto-generated by backend if not provided. Sent to user via SMS/email.
        AI should NOT ask for or collect passwords.
        
        PRICING: Do NOT send pricing fields from AI. Backend calculates all pricing server-side.
        The `pricing` field is only used by the web UI for validation — AI callers omit it entirely.
        
        CONFIRMATION REQUIRED: AI must read back a full summary and receive verbal "yes" from the
        caller BEFORE calling this endpoint. Do not create the booking speculatively.
        Summary format: "Just to confirm — [N] hours with [Instructor] on [Date] at [Time],
        pickup at [Address], total $[Amount], payment link to [Phone]. Is that correct?"
        Only proceed when caller confirms.
        
        CHECKOUT URL: When called without `pricing` (AI flow), the response includes `checkoutUrl`
        pointing to the payment page. AI sends this via SMS immediately after booking is created.
        
        SHORT NOTICE: If booking is within 2 hours, status is PENDING (requires instructor approval).
        No payment is taken until instructor approves. AI should say: "Your booking is pending instructor approval."
        
        BOOKING STATUS FLOW:
        1. Booking created → status: PENDING_PAYMENT, expires in 10 minutes
        2. Payment completed → status: CONFIRMED (via Stripe webhook)
        3. Payment not completed → status: EXPIRED (auto-updated by cleanup cron every 5 min)
        
        RATE LIMITING:
        - 5 requests per minute per email/IP combination
        - Use Idempotency-Key header to prevent duplicate bookings on retry
      operationId: createBooking
      tags:
        - Bookings
      parameters:
        - name: Idempotency-Key
          in: header
          type: string
          required: true
          description: |
            Unique key to prevent duplicate bookings (e.g., UUID like "8x7w3k9m2q4r6t1y5u8v").
            If same key is sent within 24 hours, returns original booking instead of creating duplicate.
            AI should generate once per booking attempt and retry with same key if request fails.
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - packageType
              - bookingType
              - registrationType
              - accountHolderName
              - accountHolderEmail
              - accountHolderPhone
            properties:
              instructorId:
                type: string
                description: |
                  Instructor ID resolved from API responses.
                  AI: Never ask the caller for this — resolve it silently:
                  - From GET /api/instructors/recommendations → recommendations[n].id
                  - From GET /api/instructors/search?name=... → instructors[0].id
                  - From GET /api/voice/instructors/lookup?phone=... → id
                  Either instructorId or instructorQuery must be provided.
              instructorQuery:
                type: string
                description: |
                  Optional alternative to instructorId.
                  Pass instructor name or phone when you don't have the ID yet.
                  Backend resolves to an instructorId automatically.
                  Examples: "Debesay", "Debesay Birhane", "0400123456"
                  Either instructorId or instructorQuery must be provided.
              packageType:
                type: string
                enum: [PACKAGE_6, PACKAGE_10, PACKAGE_15, CUSTOM]
              hours:
                type: number
                description: Required only for CUSTOM package
              includeTestPackage:
                type: boolean
                default: false
              bookingType:
                type: string
                enum: [now, later]
                description: Schedule now or buy credits for later
              registrationType:
                type: string
                enum: [myself, someone-else]
              accountHolderName:
                type: string
              accountHolderEmail:
                type: string
              accountHolderPhone:
                type: string
                description: Phone number - password will be auto-generated and sent via SMS/email
              learnerName:
                type: string
                description: Required if registrationType is someone-else
              learnerPhone:
                type: string
              learnerRelationship:
                type: string
                enum: [child, partner, grandchild, parent, friend, other]
              scheduledBookings:
                type: array
                description: Required if bookingType is now
                items:
                  type: object
                  required:
                    - date
                    - time
                    - duration
                    - pickupLocation
                  properties:
                    date:
                      type: string
                      example: "2026-03-25"
                    time:
                      type: string
                      example: "09:00"
                    duration:
                      type: integer
                      example: 60
                    pickupLocation:
                      type: string
                      example: "123 Main St, Joondalup WA 6027"
                    notes:
                      type: string
      responses:
        '201':
          description: Booking created successfully with PENDING_PAYMENT status
          schema:
            type: object
            properties:
              success:
                type: boolean
              bookingId:
                type: string
                description: Booking ID for tracking
              status:
                type: string
                enum: [PENDING_PAYMENT, PENDING]
                description: PENDING_PAYMENT for normal bookings, PENDING for short-notice (requires instructor approval)
              isShortNotice:
                type: boolean
                description: True if booking is within 2 hours — requires instructor approval before payment
              checkoutUrl:
                type: string
                description: |
                  Payment page URL. Present when called from AI voice flow (no pricing submitted).
                  Web flow uses Stripe Elements instead — call /api/payments/create-intent separately.
                  AI should send this URL via SMS: "Click the link I just texted you to complete your booking securely"
              total:
                type: number
                description: Total amount to be charged (calculated by backend, 0 for short-notice)
        '400':
          description: Invalid booking data
          schema:
            type: object
            properties:
              error:
                type: string
                description: Human-readable error message
              code:
                type: string
                enum: [INVALID_LOCATION, SLOT_UNAVAILABLE, EXPIRED_BOOKING, EMAIL_EXISTS, INVALID_PACKAGE, INSTRUCTOR_NOT_FOUND]
                description: Machine-readable error code
              retryable:
                type: boolean
                description: Whether the request can be retried
              suggestions:
                type: array
                items:
                  type: string
                description: Helpful suggestions for fixing the error
            example:
              error: "Time slot no longer available"
              code: "SLOT_UNAVAILABLE"
              retryable: true
              suggestions: ["Try 10:00am", "Try 2:00pm", "Choose a different date"]
        '409':
          description: Email already registered
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: string
                example: "EMAIL_EXISTS"
              actions:
                type: array
                items:
                  type: object
                  properties:
                    label:
                      type: string
                    url:
                      type: string
                    primary:
                      type: boolean
        '429':
          description: Rate limit exceeded
          schema:
            type: object
            properties:
              error:
                type: string
              code:
                type: string
                example: "RATE_LIMIT_EXCEEDED"
              retryAfter:
                type: integer
                description: Seconds until rate limit resets

  /bookings/lookup:
    get:
      summary: Find bookings by phone number
      description: |
        Returns all active bookings (PENDING_PAYMENT or CONFIRMED) for a phone number.
        Only returns future bookings. Useful for rescheduling or cancellation flows.
        AI can use this when user says "I need to change my lesson" or "Cancel my booking".
      operationId: lookupBookings
      tags:
        - Bookings
      parameters:
        - name: phone
          in: query
          type: string
          required: true
          description: Client phone number (e.g., "0400123456")
      responses:
        '200':
          description: Bookings found
          schema:
            type: object
            properties:
              bookings:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    status:
                      type: string
                      enum: [PENDING_PAYMENT, CONFIRMED]
                    startTime:
                      type: string
                      format: date-time
                    duration:
                      type: number
                    pickupLocation:
                      type: string
                    instructor:
                      type: object
                      properties:
                        name:
                          type: string
                        phone:
                          type: string
                    expiresAt:
                      type: string
                      format: date-time
                      description: Present only if status is PENDING_PAYMENT
        '400':
          description: Phone parameter missing

  /bookings/{bookingId}/cancellation-policy:
    get:
      summary: Check cancellation eligibility and fees
      description: |
        Returns cancellation policy for a specific booking based on time remaining.
        AI should call this BEFORE cancelling to inform user of any fees.
        
        POLICY RULES (from docs/04-legal/CANCELLATION_POLICY.md):
        - 48+ hours before: 100% refund, no fee
        - 24-48 hours before: 50% refund, 50% fee
        - Less than 24 hours: No refund, 100% fee (lesson counted as used)
        
        EXCEPTIONS (override normal rules):
        - Instructor cancellation: 100% refund always
        - Weather/safety: 100% refund always
        - Platform issue: 100% refund always
        
        AI USAGE: "Let me check the cancellation policy for your booking..."
      operationId: getCancellationPolicy
      tags:
        - Bookings
      parameters:
        - name: bookingId
          in: path
          type: string
          required: true
          description: Booking ID
      responses:
        '200':
          description: Cancellation policy details
          schema:
            type: object
            properties:
              bookingId:
                type: string
              hoursBeforeLesson:
                type: number
                description: Hours remaining until lesson starts
              policy:
                type: object
                properties:
                  allowed:
                    type: boolean
                    description: Whether cancellation is allowed
                  refundPercentage:
                    type: number
                    description: Percentage of refund (0, 50, or 100)
                  cancellationFee:
                    type: number
                    description: Percentage kept as fee (0, 50, or 100)
                  refundAmount:
                    type: number
                    description: Dollar amount to be refunded
                  feeAmount:
                    type: number
                    description: Dollar amount kept as fee
                  reason:
                    type: string
                    enum: [more_than_48_hours, between_24_and_48_hours, less_than_24_hours]
              message:
                type: string
                example: "Cancellation allowed with 50% fee"
        '404':
          description: Booking not found

  /bookings/{bookingId}/cancel:
    post:
      summary: Cancel a booking
      description: |
        Cancels a booking and processes refund according to cancellation policy.
        AI should call /cancellation-policy first to inform user of fees.
        
        CONVERSATION FLOW:
        1. AI: "Let me check the cancellation policy..." (call /cancellation-policy)
        2. AI: "Your lesson is X hours away. Cancelling will result in Y% refund. Shall I proceed?"
        3. User confirms
        4. AI: "Cancelling now..." (call this endpoint)
        5. AI: "Done! You'll receive $X refund within 5-7 business days."
        
        REFUND PROCESSING:
        - Refund goes to wallet balance immediately
        - Can be used for future bookings or withdrawn
        - Original payment method refund takes 5-7 business days
        
        RATE LIMITING:
        - 3 requests per hour per booking ID
        - Error: "Too many cancellation attempts. Please contact support."
      operationId: cancelBooking
      tags:
        - Bookings
      parameters:
        - name: bookingId
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - reason
            properties:
              reason:
                type: string
                enum: [student_request, weather, safety, medical, other]
                description: Reason for cancellation
              notes:
                type: string
                description: Additional notes (optional)
      responses:
        '200':
          description: Booking cancelled successfully
          schema:
            type: object
            properties:
              success:
                type: boolean
              bookingId:
                type: string
              status:
                type: string
                example: "CANCELLED"
              refundAmount:
                type: number
                description: Amount refunded to wallet
              refundPercentage:
                type: number
              message:
                type: string
                example: "Booking cancelled. $42.50 refunded to your wallet."
        '400':
          description: Cancellation not allowed or invalid request
          schema:
            type: object
            properties:
              error:
                type: string
              policy:
                type: object
                description: Policy details explaining why cancellation failed

  /bookings/{bookingId}/reschedule:
    post:
      summary: Reschedule a booking
      description: |
        Reschedules a booking to a new date/time. Same cancellation policy applies.
        If rescheduling within 24 hours, 50% fee may apply (check policy first).
        
        AI CONVERSATION FLOW:
        1. User: "I need to reschedule my lesson"
        2. AI: "When would you like to reschedule to?"
        3. User: "Next Tuesday at 10am"
        4. AI: Validates new slot availability
        5. AI: Checks cancellation policy for current booking
        6. AI: "Rescheduling will have a 50% fee. Shall I proceed?"
        7. User confirms
        8. AI: Calls this endpoint
        
        POLICY NOTES:
        - Rescheduling >48h before: Free
        - Rescheduling 24-48h before: 50% fee
        - Rescheduling <24h before: Not allowed (must cancel and rebook)
        
        RATE LIMITING:
        - 3 requests per hour per booking ID
        - Error: "Too many reschedule attempts. Please contact support."
      operationId: rescheduleBooking
      tags:
        - Bookings
      parameters:
        - name: bookingId
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - newDate
              - newTime
            properties:
              newDate:
                type: string
                format: date
                example: "2026-03-20"
              newTime:
                type: string
                example: "10:00"
              reason:
                type: string
                description: Reason for rescheduling (optional)
      responses:
        '200':
          description: Booking rescheduled successfully
          schema:
            type: object
            properties:
              success:
                type: boolean
              bookingId:
                type: string
              oldStartTime:
                type: string
                format: date-time
              newStartTime:
                type: string
                format: date-time
              feeApplied:
                type: number
                description: Fee charged for rescheduling (0, 50, or 100%)
              message:
                type: string
                example: "Lesson rescheduled successfully with no fee."
        '400':
          description: Rescheduling not allowed or slot unavailable
          schema:
            type: object
            properties:
              error:
                type: string
              availableSlots:
                type: array
                items:
                  type: string
                description: Alternative available time slots

  /instructors/lookup:
    get:
      summary: Find instructor by phone number (VOICE SERVICE)
      description: |
        Finds an instructor by their phone number.
        Used by the AI voice receptionist to identify which instructor's line was called.
        
        NOTE: This endpoint is at /api/voice/instructors/lookup and requires
        voice service authentication (VOICE_SERVICE_API_KEY header).
        
        If not found, use /instructors/recommendations instead.
      operationId: lookupInstructor
      tags:
        - Instructors
      parameters:
        - name: phone
          in: query
          type: string
          required: true
          description: Instructor phone number (e.g., "0400123456")
      responses:
        '200':
          description: Instructor found
          schema:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              phone:
                type: string
              email:
                type: string
              hourlyRate:
                type: number
              serviceAreas:
                type: string
              baseLatitude:
                type: number
              baseLongitude:
                type: number
              serviceRadiusKm:
                type: number
              workingHours:
                type: object
              copilotAgentEndpoint:
                type: string
              available:
                type: boolean
        '404':
          description: Instructor not found
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Instructor not found"

  /verifications/otp:
    post:
      summary: Send OTP verification code
      description: |
        Sends a 6-digit OTP to a phone number or email address.
        Used by the AI voice receptionist to verify caller identity before
        sensitive actions (cancel, reschedule).
        
        RATE LIMITS:
        - Max 3 OTP requests per hour per phone/email
        - Resend delay: 60 seconds between requests
        
        OTP expires after 5 minutes.
        
        Returns a verificationId to use when confirming the code.
      operationId: sendOtp
      tags:
        - Verification
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              phone:
                type: string
                description: Phone number to send OTP to (e.g., "0400123456")
              email:
                type: string
                description: Email address to send OTP to
              purpose:
                type: string
                enum: [cancel, reschedule, login]
                default: cancel
            required: []
      responses:
        '200':
          description: OTP sent successfully
          schema:
            type: object
            properties:
              success:
                type: boolean
              verificationId:
                type: string
                description: UUID to use when confirming the OTP
              expiresAt:
                type: string
                format: date-time
                description: When the OTP expires (5 minutes from now)
              message:
                type: string
                example: "Verification code sent to 0400123456"
        '429':
          description: Rate limit exceeded
          schema:
            type: object
            properties:
              error:
                type: string
              retryAfter:
                type: integer
                description: Seconds until retry is allowed

  /verifications/otp/confirm:
    post:
      summary: Confirm OTP and get verification token
      description: |
        Confirms the OTP code entered by the caller.
        Returns a short-lived verification token (valid 10 minutes) that can be
        used to authorize sensitive actions.
        
        Max 3 failed attempts before lockout per verificationId.
      operationId: confirmOtp
      tags:
        - Verification
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - verificationId
              - code
            properties:
              verificationId:
                type: string
                description: UUID returned by /verifications/otp
              code:
                type: string
                description: 6-digit OTP entered by caller
                example: "123456"
              phone:
                type: string
                description: Phone number (same as used in /verifications/otp)
              email:
                type: string
                description: Email (same as used in /verifications/otp)
      responses:
        '200':
          description: OTP confirmed, verification token returned
          schema:
            type: object
            properties:
              success:
                type: boolean
              valid:
                type: boolean
              verificationToken:
                type: string
                description: Token to use for cancel/reschedule (valid 10 minutes)
              expiresAt:
                type: string
                format: date-time
        '400':
          description: Invalid or expired OTP
          schema:
            type: object
            properties:
              error:
                type: string
              valid:
                type: boolean
                example: false
              attemptsRemaining:
                type: integer
              expired:
                type: boolean
  /webhooks/stripe:
    post:
      summary: Stripe payment confirmation webhook (CRITICAL)
      description: |
        CRITICAL ENDPOINT - Called by Stripe when payment events occur.
        Updates booking status and sends confirmations.
        
        IMPORTANT: This is how PENDING_PAYMENT bookings become CONFIRMED.
        The AI never handles payment - it creates the booking with PENDING_PAYMENT
        status, then this webhook confirms when payment succeeds.
        
        BOOKING STATUS FLOW:
        ┌─────────────────┐
        │ PENDING_PAYMENT │ ← AI creates booking, sends payment link
        └────────┬────────┘
                 │
        ┌────────▼────────┐
        │  User pays via  │
        │ Stripe Checkout │
        └────────┬────────┘
                 │ Webhook
        ┌────────▼────────┐
        │   CONFIRMED     │ ← This endpoint called, booking confirmed
        └────────┬────────┘
                 │
        ┌────────▼────────┐
        │   COMPLETED     │ ← After lesson
        └────────┬────────┘
                 │
        ┌────────▼────────┐
        │     PAID        │ ← Instructor paid
        └─────────────────┘
        
        EVENTS HANDLED:
        - checkout.session.completed: Initial payment success
        - payment_intent.succeeded: Alternative payment confirmation
        - charge.refunded: Handle refunds from Stripe dashboard
        
        SECURITY:
        - Validates Stripe signature using webhook secret
        - Idempotent processing (prevents double-confirmation)
        - Requires no authentication (signature is auth)
        - Rate limit: No limit (signature validation only)
        
        IMPLEMENTATION:
        1. Verify Stripe signature in Stripe-Signature header
        2. Extract bookingId from session.metadata
        3. Update booking status to CONFIRMED
        4. Clear expiresAt field
        5. Send confirmation SMS/email
        6. Return 200 OK to Stripe
        
        TESTING:
        - Use Stripe CLI: stripe listen --forward-to localhost:3000/api/webhooks/stripe
        - Test with Stripe test mode and test cards
        - Use /webhooks/stripe/test endpoint for development (disable in production)
        
        NOTE: This endpoint is called by Stripe, NOT by the AI agent.
      operationId: stripeWebhook
      tags:
        - Webhooks
      parameters:
        - name: Stripe-Signature
          in: header
          type: string
          required: true
          description: Stripe signature for verification (HMAC SHA256)
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              id:
                type: string
                description: Stripe event ID
                example: "evt_1234567890"
              type:
                type: string
                enum: [checkout.session.completed, payment_intent.succeeded, charge.refunded]
                description: Event type
              data:
                type: object
                properties:
                  object:
                    type: object
                    description: Stripe Checkout Session object
                    properties:
                      id:
                        type: string
                        example: "cs_test_xyz123"
                      payment_status:
                        type: string
                        example: "paid"
                      amount_total:
                        type: integer
                        description: Amount in cents
                        example: 70000
                      metadata:
                        type: object
                        properties:
                          bookingId:
                            type: string
                            description: DriveBook booking ID
                            example: "bk_abc123"
                          clientEmail:
                            type: string
                            example: "john@example.com"
                          instructorId:
                            type: string
                            example: "inst_xyz789"
      responses:
        '200':
          description: Webhook processed successfully
          schema:
            type: object
            properties:
              received:
                type: boolean
                example: true
              bookingId:
                type: string
                description: Booking that was confirmed
              status:
                type: string
                example: "CONFIRMED"
        '400':
          description: Invalid signature or malformed request
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Invalid signature"
              code:
                type: string
                example: "INVALID_SIGNATURE"
        '409':
          description: Already processed (idempotent)
          schema:
            type: object
            properties:
              status:
                type: string
                example: "already_processed"
              bookingId:
                type: string

  /webhooks/stripe/test:
    post:
      summary: Test endpoint for Stripe webhooks (DEVELOPMENT ONLY)
      description: |
        Development-only endpoint to test webhook handling without real Stripe.
        Simulates payment confirmation for testing the flow.
        
        WARNING: DISABLE IN PRODUCTION!
        
        This endpoint allows testing the complete payment flow:
        1. Create booking with PENDING_PAYMENT status
        2. Call this test endpoint with bookingId
        3. Booking status updates to CONFIRMED
        4. Confirmation SMS/email sent
        
        Use this to test the flow without needing Stripe test cards.
      operationId: testStripeWebhook
      tags:
        - Webhooks
        - Testing
      parameters:
        - name: X-Test-Secret
          in: header
          type: string
          required: true
          description: Test secret to prevent abuse (set in environment variable)
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - bookingId
            properties:
              bookingId:
                type: string
                description: Booking ID to confirm
                example: "bk_abc123"
              eventType:
                type: string
                enum: [checkout.session.completed, payment_intent.succeeded]
                default: checkout.session.completed
      responses:
        '200':
          description: Test webhook processed
          schema:
            type: object
            properties:
              success:
                type: boolean
              bookingId:
                type: string
              status:
                type: string
                example: "CONFIRMED"
              message:
                type: string
                example: "Test webhook processed successfully"
        '401':
          description: Invalid test secret
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Invalid test secret"
        '403':
          description: Test endpoint disabled in production
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Test endpoint not available in production"

tags:
  - name: System
    description: System health and status
  - name: Instructors
    description: Instructor discovery and search
  - name: Locations
    description: Location validation and geocoding
  - name: Packages
    description: Lesson packages and pricing
  - name: Availability
    description: Time slot availability
  - name: Bookings
    description: Booking creation and management
  - name: Verification
    description: OTP identity verification for sensitive actions
  - name: Webhooks
    description: External webhook integrations (Stripe)
  - name: Testing
    description: Development-only test endpoints
