swagger: '2.0'
info:
  title: DriveBook Voice Service API
  version: '2.0.0'
  description: |
    API for AI voice agent to interact with DriveBook platform for booking driving lessons.
    The hybrid voice service exposes these `/api/*` endpoints and proxies them to the main DriveBook application.
    
    RECOMMENDED AI CONVERSATION FLOW (OPTIMIZED):
    1. Ask user for pickup location
    2. Validate location via /locations/validate
    3. Get smart recommendations via /instructors/recommendations (AI-ranked, top 3)
    4. Present options: "I found 3 great instructors: Debesay (top rated), Michael (best value), Sarah (closest)"
    5. User selects instructor
    6. Call /availability/slots to check times
    7. Call /packages to present package options with savings
    8. Create booking via /public/bookings/bulk (backend calculates pricing, generates password)
    
    KEY IMPROVEMENTS:
    - AI does NOT ask for password (backend generates secure password automatically)
host: drivebook.com.au
basePath: /api
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json

paths:
  /health:
    get:
      summary: Health check endpoint
      description: Check if the service is running and database is connected
      operationId: healthCheck
      tags:
        - System
      responses:
        '200':
          description: Service is healthy
          schema:
            type: object
            properties:
              status:
                type: string
                example: connected

  /instructors/recommendations:
    get:
      summary: Get smart instructor recommendations (AI-POWERED)
      description: |
        Returns top instructors ranked by intelligent scoring algorithm.
        Considers rating, distance, price, and experience.
        This is the BEST endpoint for AI to use - provides pre-ranked, personalized results.
      operationId: getInstructorRecommendations
      tags:
        - Instructors
      parameters:
        - name: location
          in: query
          type: string
          required: true
          description: "Pickup location (e.g. Joondalup WA)"
        - name: vehicleType
          in: query
          type: string
          required: false
          description: Preferred vehicle type
          enum: [AUTO, MANUAL]
        - name: language
          in: query
          type: string
          required: false
          description: "Preferred language (e.g. English)"
        - name: budget
          in: query
          type: number
          required: false
          description: "Maximum hourly rate (e.g. 75)"
        - name: experienceLevel
          in: query
          type: string
          required: false
          enum: [beginner, intermediate, advanced]
        - name: limit
          in: query
          type: integer
          required: false
          description: "Number of recommendations to return (default: 3)"
          default: 3
      responses:
        '200':
          description: Recommended instructors with reasons
          schema:
            type: object
            properties:
              recommendations:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    hourlyRate:
                      type: number
                    distance:
                      type: number
                      description: Distance in kilometers
                    rating:
                      type: number
                    reviews:
                      type: integer
                    reason:
                      type: string
                    score:
                      type: integer
              count:
                type: integer
              message:
                type: string

  /bookings/search:
    get:
      summary: Search bookings by phone, email, or reference
      description: Find existing bookings when the user provides a phone, email, or booking reference. Useful for reschedule/cancel flows and identity verification.
      operationId: searchBookings
      tags:
        - Bookings
      parameters:
        - name: phone
          in: query
          type: string
          required: false
          description: Phone number used on the booking
        - name: email
          in: query
          type: string
          required: false
          description: Email used on the booking
        - name: reference
          in: query
          type: string
          required: false
          description: Booking reference or ID
      responses:
        '200':
          description: Matching bookings
          schema:
            type: object
            properties:
              bookings:
                type: array
                items:
                  type: object
                  properties:
                    bookingId:
                      type: string
                    date:
                      type: string
                    time:
                      type: string
                    status:
                      type: string
                    pickupLocation:
                      type: string
                    instructor:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                    accountHolderName:
                      type: string
                    accountHolderPhone:
                      type: string
                    accountHolderEmail:
                      type: string
              count:
                type: integer
        '400':
          description: Must provide phone, email, or reference
          schema:
            type: object
            properties:
              error:
                type: string

  /instructors/find:
    get:
      summary: Find instructors by name, phone or query
      description: Flexible search to locate an instructor when the caller does not know an ID. Returns contact info and short profile so AI can present options.
      operationId: findInstructors
      tags:
        - Instructors
      parameters:
        - name: query
          in: query
          type: string
          required: true
          description: Name, phone number, or search query
        - name: location
          in: query
          type: string
          required: false
          description: Optional pickup location to prefer nearby instructors
      responses:
        '200':
          description: Matching instructors
          schema:
            type: object
            properties:
              instructors:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    phone:
                      type: string
                    hourlyRate:
                      type: number
                    distance:
                      type: number
                    rating:
                      type: number
                    bio:
                      type: string
              count:
                type: integer

  /instructors/search:
    get:
      summary: Search instructors by location (PRIMARY ENDPOINT)
      description: |
        Find instructors who serve a specific location, sorted by distance and rating.
        This is the MAIN endpoint for the AI to use when a student provides their pickup location.
      operationId: searchInstructorsByLocation
      tags:
        - Instructors
      parameters:
        - name: location
          in: query
          type: string
          required: true
          description: "Pickup location - address, suburb, or postcode (e.g. Joondalup WA)"
      responses:
        '200':
          description: List of instructors serving the location
          schema:
            type: object
            properties:
              instructors:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    hourlyRate:
                      type: number
                    distance:
                      type: number
                      description: Distance in kilometers
                    rating:
                      type: number
                      description: Average rating (0-5)
                    reviews:
                      type: integer
                    totalBookings:
                      type: integer
                    bio:
                      type: string
                    vehicleTypes:
                      type: array
                      items:
                        type: string
                      description: AUTO, MANUAL
                    languages:
                      type: array
                      items:
                        type: string
                    profileImage:
                      type: string
                    carMake:
                      type: string
                    carModel:
                      type: string
                    carYear:
                      type: integer
              count:
                type: integer
              searchLocation:
                type: object
                properties:
                  displayName:
                    type: string
        '404':
          description: No instructors serve that area
          schema:
            type: object
            properties:
              error:
                type: string

  /public/instructors:
    get:
      summary: Get all approved instructors
      description: Returns all active instructors. Use /instructors/search for location-based search.
      operationId: getAllInstructors
      tags:
        - Instructors
      responses:
        '200':
          description: List of all instructors
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                name:
                  type: string
                hourlyRate:
                  type: number
                rating:
                  type: number
                reviews:
                  type: integer
                vehicleTypes:
                  type: array
                  items:
                    type: string
                languages:
                  type: array
                  items:
                    type: string

  /locations/validate:
    post:
      summary: Validate pickup location
      description: |
        Validates and geocodes a pickup location.
        Prevents bad addresses during voice calls.
        Returns formatted address and coordinates.
      operationId: validateLocation
      tags:
        - Locations
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - pickupLocation
            properties:
              pickupLocation:
                type: string
                description: Address, suburb, or postcode to validate
                example: "123 Main St, Joondalup WA"
      responses:
        '200':
          description: Location validation result
          schema:
            type: object
            properties:
              valid:
                type: boolean
              formattedAddress:
                type: string
                example: "123 Main St, Joondalup WA 6027"
              lat:
                type: number
              lng:
                type: number
              components:
                type: object
                properties:
                  suburb:
                    type: string
                  state:
                    type: string
                  postcode:
                    type: string
              error:
                type: string
                description: Present if valid is false
              suggestions:
                type: array
                items:
                  type: string
                description: Suggestions if location not found

  /packages:
    get:
      summary: Get available lesson packages
      description: |
        Returns available lesson packages with pricing.
        AI should call this to present package options to students.
      operationId: getPackages
      tags:
        - Packages
      parameters:
        - name: instructorId
          in: query
          type: string
          required: true
          description: Instructor ID to get their specific pricing
      responses:
        '200':
          description: Available packages
          schema:
            type: object
            properties:
              packages:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [PACKAGE_6, PACKAGE_10, PACKAGE_15, CUSTOM]
                    hours:
                      type: integer
                    price:
                      type: number
                      description: Total price after discount
                    originalPrice:
                      type: number
                    discount:
                      type: number
                      description: Discount amount
                    discountPercentage:
                      type: integer
                      description: Discount percentage (5, 10, 12)
                    savings:
                      type: number
                      description: Amount saved
              testPackage:
                type: object
                properties:
                  available:
                    type: boolean
                  price:
                    type: number
                    example: 150
                  includes:
                    type: string
                    example: "1-hour pre-test lesson, car rental, test day support"

  /availability/slots:
    get:
      summary: Get available time slots
      description: Returns available booking slots for an instructor on a specific date
      operationId: getAvailableSlots
      tags:
        - Availability
      parameters:
        - name: instructorId
          in: query
          type: string
          required: true
        - name: date
          in: query
          type: string
          required: true
          description: "Date in YYYY-MM-DD format (e.g. 2026-03-25)"
        - name: duration
          in: query
          type: integer
          required: true
          description: "Lesson duration in minutes: 60, 90, or 120"
      responses:
        '200':
          description: Available slots
          schema:
            type: object
            properties:
              slots:
                type: array
                items:
                  type: object
                  properties:
                    time:
                      type: string
                      example: "09:00"
                    available:
                      type: boolean
              date:
                type: string
              duration:
                type: integer

  /public/bookings/bulk:
    post:
      summary: Create booking with package
      description: |
        Create a new booking or package purchase.
        IMPORTANT: Backend calculates pricing - AI should NOT send pricing fields.
        AI only sends: instructor, package type, schedule, and account details.
        
        INSTRUCTOR RESOLUTION:
        Either `instructorId` or `instructorQuery` must be provided.
        - `instructorId`: use when you already have the ID from a previous search/recommendations call
        - `instructorQuery`: use when you only have a name or phone — backend resolves to an ID
        AI should NEVER ask the caller for an instructor ID directly.
      operationId: createBooking
      tags:
        - Bookings
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - packageType
              - bookingType
              - registrationType
              - accountHolderName
              - accountHolderEmail
              - accountHolderPhone
            properties:
              instructorId:
                type: string
                description: |
                  Instructor ID resolved from API responses.
                  Use when you have the ID from GET /instructors/recommendations or GET /instructors/search.
                  Either instructorId or instructorQuery must be provided.
              instructorQuery:
                type: string
                description: |
                  Optional: instructor name or phone number.
                  Use when you only have a name (e.g. "Debesay") or phone number.
                  Backend will resolve to an instructorId automatically.
                  Either instructorId or instructorQuery must be provided.
                  Examples: "Debesay", "Debesay Birhane", "0400123456"
              packageType:
                type: string
                enum: [PACKAGE_6, PACKAGE_10, PACKAGE_15, CUSTOM]
              hours:
                type: number
                description: Required only for CUSTOM package
              includeTestPackage:
                type: boolean
                default: false
              bookingType:
                type: string
                enum: [now, later]
                description: Schedule now or buy credits for later
              registrationType:
                type: string
                enum: [myself, someone-else]
              accountHolderName:
                type: string
              accountHolderEmail:
                type: string
              accountHolderPhone:
                type: string
                description: Phone number - password will be auto-generated and sent via SMS/email
              learnerName:
                type: string
                description: Required if registrationType is someone-else
              learnerPhone:
                type: string
              learnerRelationship:
                type: string
                enum: [child, partner, grandchild, parent, friend, other]
              scheduledBookings:
                type: array
                description: Required if bookingType is now
                items:
                  type: object
                  required:
                    - date
                    - time
                    - duration
                    - pickupLocation
                  properties:
                    date:
                      type: string
                      example: "2026-03-25"
                    time:
                      type: string
                      example: "09:00"
                    duration:
                      type: integer
                      example: 60
                    pickupLocation:
                      type: string
                      example: "123 Main St, Joondalup WA 6027"
                    notes:
                      type: string
      responses:
        '200':
          description: Booking created successfully
          schema:
            type: object
            properties:
              success:
                type: boolean
              bookingId:
                type: string
              clientId:
                type: string
              total:
                type: number
                description: Total amount charged (calculated by backend)
              pricing:
                type: object
                description: Pricing breakdown (calculated by backend)
                properties:
                  subtotal:
                    type: number
                  discount:
                    type: number
                  platformFee:
                    type: number
                  total:
                    type: number
        '400':
          description: Invalid booking data
          schema:
            type: object
            properties:
              error:
                type: string

  /voice/incoming:
    post:
      summary: Handle incoming voice call (Twilio webhook)
      description: Twilio webhook endpoint for incoming calls
      operationId: handleIncomingCall
      tags:
        - Voice
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              From:
                type: string
              To:
                type: string
              CallSid:
                type: string
      responses:
        '200':
          description: TwiML response

  /voice/voicemail:
    post:
      summary: Handle voicemail recording (Twilio webhook)
      description: Twilio webhook for voicemail callbacks
      operationId: handleVoicemail
      tags:
        - Voice
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              RecordingUrl:
                type: string
              RecordingSid:
                type: string
              From:
                type: string
      responses:
        '200':
          description: Voicemail processed

  /verifications/otp:
    post:
      summary: Send OTP for identity verification
      description: |
        Generate and send a one-time PIN (OTP) to the provided phone or email
        for actions that require identity verification (reschedule, cancel).
        Returns a short-lived `verificationId` used to confirm the OTP.
        Codes expire after 5 minutes, allow up to 3 failed confirmation attempts,
        require a 60-second resend delay, and are rate-limited to 3 requests per hour.
      operationId: sendOtp
      tags:
        - Verifications
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - purpose
            properties:
              purpose:
                type: string
                enum: [reschedule, cancel, login]
                description: Purpose for verification; used for auditing and expiry.
              phone:
                type: string
                description: Phone number to send SMS OTP to
              email:
                type: string
                description: Email to send OTP to (alternative to phone)
              ttlSeconds:
                type: integer
                description: Optional desired TTL for the OTP in seconds (backend may enforce limits)
      responses:
        '200':
          description: OTP sent
          schema:
            type: object
            properties:
              verificationId:
                type: string
              delivery:
                type: string
                description: delivery method used (sms|email)
              expiresIn:
                type: integer
                description: seconds until OTP expires (typically 300)
                example: 300
              maxAttempts:
                type: integer
                description: Maximum number of confirmation attempts allowed for this verification (typically 3)
                example: 3
              resendAfterSeconds:
                type: integer
                description: Seconds until a new OTP can be requested (typically 60)
                example: 60
              rateLimitPerHour:
                type: integer
                description: Number of OTP requests allowed per hour for the caller (typically 3)
                example: 3
        '400':
          description: Missing contact
          schema:
            type: object
            properties:
              error:
                type: string
        '429':
          description: Rate limit exceeded (max 3 OTP requests per hour per phone/email)
          headers:
            Retry-After:
              type: integer
              description: Seconds until the client may retry
          schema:
            type: object
            properties:
              error:
                type: string

  /verifications/otp/confirm:
    post:
      summary: Confirm OTP and issue verification token
      description: |
        Confirm the one-time PIN sent to the user. On success returns a
        short-lived `verificationToken` which clients must present when
        performing sensitive actions like cancelling or rescheduling a booking.
      operationId: confirmOtp
      tags:
        - Verifications
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - verificationId
              - code
            properties:
              verificationId:
                type: string
              code:
                type: string
                description: Numeric or alphanumeric OTP code
      responses:
        '200':
          description: Verified
          schema:
            type: object
            properties:
              verified:
                type: boolean
              verificationToken:
                type: string
                description: Token to present to sensitive endpoints; short-lived
              expiresIn:
                type: integer
              attemptsLeft:
                type: integer
                description: Number of remaining attempts before the verification is locked
              maxAttempts:
                type: integer
                description: Maximum allowed attempts for this verification
        '400':
          description: Invalid code
          schema:
            type: object
            properties:
              error:
                type: string
        '429':
          description: Too many attempts - verification temporarily locked after 3 failed attempts
          headers:
            Retry-After:
              type: integer
              description: Seconds until the verification attempt window resets
          schema:
            type: object
            properties:
              error:
                type: string

  /public/bookings/{bookingId}/cancel:
    post:
      summary: Cancel a booking (requires verification)
      description: Cancel a booking after verifying the requestor's identity via `verificationToken`.
      operationId: cancelBooking
      tags:
        - Bookings
      parameters:
        - name: bookingId
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - verificationToken
            properties:
              verificationToken:
                type: string
              reason:
                type: string
                description: Optional cancellation reason
      responses:
        '200':
          description: Booking cancelled
          schema:
            type: object
            properties:
              success:
                type: boolean
              bookingId:
                type: string
              refunded:
                type: boolean
        '401':
          description: Verification failed
          schema:
            type: object
            properties:
              error:
                type: string

  /public/bookings/{bookingId}/reschedule:
    post:
      summary: Reschedule a booking (requires verification)
      description: Reschedule a booking after verifying the requestor's identity via `verificationToken`.
      operationId: rescheduleBooking
      tags:
        - Bookings
      parameters:
        - name: bookingId
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - verificationToken
              - date
              - time
              - duration
            properties:
              verificationToken:
                type: string
              date:
                type: string
                example: "2026-03-30"
              time:
                type: string
                example: "14:00"
              duration:
                type: integer
                example: 60
              pickupLocation:
                type: string
              notes:
                type: string
      responses:
        '200':
          description: Booking rescheduled
          schema:
            type: object
            properties:
              success:
                type: boolean
              bookingId:
                type: string
              newDate:
                type: string
              newTime:
                type: string
        '401':
          description: Verification failed
          schema:
            type: object
            properties:
              error:
                type: string

tags:
  - name: System
    description: System health and status
  - name: Instructors
    description: Instructor discovery and search
  - name: Locations
    description: Location validation and geocoding
  - name: Packages
    description: Lesson packages and pricing
  - name: Availability
    description: Time slot availability
  - name: Bookings
    description: Booking creation
  - name: Voice
    description: Twilio voice webhooks
